{{- if eq .chezmoi.os "android" -}}
Host *
     PKCS11Provider {{ .termux.prefix }}/lib/libtergent.so

{{ end -}}

{{- /* loop from 0 to length of ssh.hosts. Has to be a better way to do this. */ -}}
{{- range $index, $_ := (index (index . "ssh") "hosts") -}}
Host {{ (index (index $.ssh "hosts") $index) }}
     HostName {{ (index (index $.ssh "ips") $index) }}
     User {{ (index (index $.ssh "users") $index) }}
     Port {{ (index (index $.ssh "ports") $index) }}

{{ end -}}

Host phone
     HostName localhost
     Port 8021

Host tablet
     HostName localhost
     Port 8022

Host gt510
     HostName localhost
     Port 8030

Host s4
     HostName localhost
     Port 8029

Host pmos
     HostName 172.16.42.1
     User grimler
     StrictHostKeyChecking no
     UserKnownHostsFile=/dev/null

{{ if eq .chezmoi.hostname "grimlerstat" -}}
Host 5
     HostName localhost
     Port 8042

Host x86
     HostName localhost
     Port 8043

Host x86_64
     HostName localhost
     Port 8044

{{ else if eq .chezmoi.hostname "grimlerlaptop" -}}
Host 5
     HostName localhost
     Port 8042

{{ else if eq .chezmoi.hostname "grimlerwork" -}}
Host tekfclab
     HostName localhost
     User tek_fc_lab
     Port 20022
{{- end -}}
