{{- /* Check if kernel version is 4.4 (chars 52 46 52) should be a
better way to do this but this is only way I can think of to distinguish
between android devices */ -}}
{{- if and (eq (index .chezmoi.kernel.osrelease 0) 52) (eq (index .chezmoi.kernel.osrelease 1) 46) (eq (index .chezmoi.kernel.osrelease 2) 52) }}
music_directory		"/storage/6532-3733/Music"
{{- /* Check if kernel version is 3.4 (chars 51 46 52) */ -}}
{{ else if and (eq (index .chezmoi.kernel.osrelease 0) 51) (eq (index .chezmoi.kernel.osrelease 1) 46) (eq (index .chezmoi.kernel.osrelease 2) 52) }}
music_directory		"/storage/6B72-83C4/Music"
{{- else if eq .chezmoi.hostname "grimlerstat" }}
music_directory		"/storage/Music"
{{- else if eq .chezmoi.hostname "grimlerpi" }}
music_directory		"{{ .chezmoi.homeDir }}/music"
{{- else }}
music_directory		"{{ .chezmoi.homeDir }}/Music"
{{ end }}

playlist_directory		"{{ .chezmoi.homeDir }}/.mpd/playlists"

db_file			"{{ .chezmoi.homeDir }}/.mpd/database"

log_file			"syslog"

{{- if eq .chezmoi.os "android" }}
pid_file			"~/.mpd/pid"
state_file			"~/.mpd/state"
sticker_file			"~/.mpd/sticker.sql"
bind_to_address			"{{ .termux.prefix }}/var/run/mpd.socket"
{{ end }}
auto_update	"yes"
input {
        plugin "curl"
}

{{- if eq .chezmoi.os "android" }}
audio_output {
        type            "sles"
        name            "OpenSLES output"
        mixer_type      "software"
}
audio_output {
	type		"openal"
	name		"OpenAL output"
	mixer_type	"software"
	device		"OpenSL"
	enabled		"no"
}

audio_output {
        type            "fifo"
        name            "ncmpcpp visualizer"
        path            "{{ .termux.prefix }}/var/run/mpd.fifo"
        format          "44100:16:2"
	enabled		"no"
}
{{ else }}
audio_output {
	type		"pulse"
	name		"My Pulse Output"
}
{{ end }}
