unmailboxes *
set folder = ~/mail/grimler/
set from = {{ .email.main }}
set pgp_sign_as = {{ .gpg_fingerprint -}}!
{{- if eq .chezmoi.os "android" }}
set sendmail = "{{ .termux.prefix }}/bin/msmtp -a grimler"
{{- else }}
set sendmail = "/usr/bin/msmtp -a grimler"
{{- end -}}
