unmailboxes *
set folder = ~/mail/mailing_lists/
set from = {{ .email.mailing_lists }}
set pgp_sign_as = {{ .gpg_fingerprint -}}!
{{- if eq .chezmoi.os "android" }}
set sendmail = "{{ .termux.prefix }}/bin/msmtp -a mailing_lists"
{{- else }}
set sendmail = "/usr/bin/msmtp -a mailing_lists"
{{- end -}}
